<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VisualAsterisk.Test.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VisualAsterisk.Test.UI.Properties.Settings>
            <setting name="ExcludeNamespace" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>VisualAsterisk.Main.Gui.Configuration</string>
                        <string>VisualAsterisk.Main.Gui.PbxPanel</string>
                        <string>VisualAsterisk.Main.Gui.SystemPanel</string>
                        <string>VisualAsterisk.Main.Gui.Log</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="RecentTestCase" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoConnect" serializeAs="String">
                <value>False</value>
            </setting>
        </VisualAsterisk.Test.UI.Properties.Settings>
    </userSettings>
</configuration>