<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SipPhone.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SipPhone.Properties.Settings>
            <setting name="SipPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RingMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SipAccountPorts" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>5060</string>
                        <string>5060</string>
                        <string>5060</string>
                        <string>5060</string>
                        <string>5060</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SipAccountDefault" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SipAccountDomains" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>*</string>
                        <string>*</string>
                        <string>*</string>
                        <string>*</string>
                        <string>*</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="CFUFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CFUNumber" serializeAs="String">
                <value />
            </setting>
            <setting name="CFNRNumber" serializeAs="String">
                <value />
            </setting>
            <setting name="CFNRFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DNDFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CFBFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CFBNumber" serializeAs="String">
                <value />
            </setting>
            <setting name="AAFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AATimeout" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SipAccountDisplayName" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SipAccountAddresses" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                        <string />
                        <string />
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SipAccountPassword" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SipAccountIds" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SipAccountUsername" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SipAccountState" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SipAccountNames" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="CodecList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>PCMU/8000/1</string>
                        <string>PCMA/8000/1</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SipAccountProxyAddresses" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="StunServerAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="DtmfMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SipAccountTransport" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SipPublishEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SipAccountIndex" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="RegistrationTimeout" serializeAs="String">
                <value>3600</value>
            </setting>
            <setting name="VAD" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ECTail" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="NameServer" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdgradeSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SipAccountRegPeriod" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>3600</string>
                        <string>3600</string>
                        <string>3600</string>
                        <string>3600</string>
                        <string>3600</string>
                    </ArrayOfString>
                </value>
            </setting>
        </SipPhone.Properties.Settings>
    </userSettings>
</configuration>