<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AstFileEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AstFileEditor.Properties.Settings>
            <setting name="ExtenKeywords" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>exten</string>
                        <string>include</string>
                        <string>ignorepat</string>
                        <string>switch</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ManagerConfVariables" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>a</string>
                        <string>b</string>
                        <string>c</string>
                    </ArrayOfString>
                </value>
            </setting>
        </AstFileEditor.Properties.Settings>
    </applicationSettings>
</configuration>