<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ReportedBugManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ReportedBugManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ReportedBugManager.Properties.Settings>
            <setting name="BaseURL" serializeAs="String">
                <value>ftp://ftp.telnv.com/</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>visualasterisk@telnv.com</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>C*qIxk1wHF$u</value>
            </setting>
        </ReportedBugManager.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <ReportedBugManager.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </ReportedBugManager.Properties.Settings>
    </userSettings>
</configuration>