<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="VisualAsterisk.Main.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="VisualAsterisk.Main.VisualAsteriskChanges" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="VisualAsterisk.Main.Version" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <trace autoflush="true" indentsize="0">
      <listeners>
        <add name="MyListener"
             type="System.Diagnostics.TextWriterTraceListener"
             initializeData="MyListener.log"/>
      </listeners>
    </trace>
    <switches>
      <add name="Test" value="4"/>
    </switches>
  </system.diagnostics>
  <userSettings>
    <VisualAsterisk.Main.Properties.Settings>
      <setting name="StartWithWindows" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HideWhenMinimized" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UICulture" serializeAs="String">
        <value>en</value>
      </setting>
      <setting name="CheckForUpdates" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UpdatesURL" serializeAs="String">
        <value>ftp://ftp.telnv.com/visualasterisk/updates</value>
      </setting>
      <setting name="ErrorReportURL" serializeAs="String">
        <value>ftp://ftp.telnv.com/visualasterisk/bugreports</value>
      </setting>
      <setting name="DisplayCommonTasks" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UpdateNotification" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SupportUrl" serializeAs="String">
        <value />
      </setting>
      <setting name="DisplayShutdownDialog" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UserManualPath" serializeAs="String">
        <value />
      </setting>
      <setting name="ShowInventory" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowManageTask" serializeAs="String">
        <value>True</value>
      </setting>
    </VisualAsterisk.Main.Properties.Settings>
    <VisualAsterisk.Main.VisualAsteriskChanges>
      <setting name="Bugfixes" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>bug fix1</string>
            <string>bug fix2</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Features" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>feature 1</string>
            <string>feature 2</string>
          </ArrayOfString>
        </value>
      </setting>
    </VisualAsterisk.Main.VisualAsteriskChanges>
    <VisualAsterisk.Main.Version>
      <setting name="bugfixs" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>bug fix1</string>
            <string>bug fix2</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="features" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>feature 1</string>
            <string>feature 2</string>
          </ArrayOfString>
        </value>
      </setting>
    </VisualAsterisk.Main.Version>
  </userSettings>
</configuration>